/* medium css file for*/

@media only screen and (min-width: 450px){
    header, footer {
        margin: 0 auto;
    }
    main {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    header h1{
        font-family: 'Kalam', cursive;
        font-size: 4em;
        align-items: center;
        margin: 0;
        padding-top: 10px;
    }
    header h2{
        font-family: 'Afacad', sans-serif;
        font-size: 2em;
        align-items: center;
        padding: 0;
        margin: 10px;
    }
    /*navigation*/
   
    .navigation  li:first-child{
        display: none;
    }

    nav ul li {
        margin: 0 auto;
    }

    .response, .navigation li {
        display: flex;
        text-align: center; 
    }

    .navigation {
        display: flex;
    }

    a:hover{
        text-decoration: underline;
    }       

    nav li a {
        color:black;
        font-weight: bold;
        padding: 10px;
    }
    /*end navigation*/

}