/* small css for*/

body {
    font-family: 'Afacad', sans-serif;
}
.logo_link img{
    display: flex;
    height: 225px;
    width: 225px;
    justify-content: center;
    padding-left: 635px;
}
header {
    text-align: center;
    border-bottom: 1px solid black;
    justify-content: center;
}
header h1{
    font-family: 'Kalam', cursive;
    font-size: 2.5em;
    padding-left: 60px;
    align-items: center;
}
header h2{
    font-family: 'Afacad', sans-serif;
    font-size: 1.5em;
    padding-left: 65px;
    align-items: center;
}
.hero-img {
    width: 1450px;
    height: 500px;
    margin: 10px;
    border: 5px solid #f1a243;
}
main {
    background-color: #f1a243;
    opacity: 75%;
    border-radius: 20px;
    padding: 25px;
}
.homepage{
    margin-bottom: 40px;
}
.rental-list{
    margin-top: 40px;
    margin-bottom: 40px;
}
.form-page{
    margin-top: 40px;
    margin-bottom: 40px;
}
.tours{
    margin-top: 40px;
    margin-bottom: 40px;
}
.contact-us{
    margin-top: 40px;
    margin-bottom: 40px;
}
.tours h2{
    font-size: 1.75em;
}
.details li{
    text-align: center;
    list-style-type: none;
}
.button-box{
    padding-bottom: 50px;
    padding-top: 40px;
}
.join{
    font-family: 'Kalam', cursive;
    font-size: 2em;
    color: black;
}
header img {
    float: right;
    height: 75px;
    padding-top: 50px;
}

div {
    text-align: center;
}

ul {
    padding: 0;
}

.data, table {
    margin: 0 auto;
}

/*navigation*/
nav {
    border-top: 1px solid black;
    padding-top: 10px;
    background-color: #02c2da;
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
    opacity: 75%;
}

.navigation li:first-child {
    text-align: center;
    display: block;
    text-decoration: none;
    
}

.navigation {
    margin: 0;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

nav ul {
    padding: 0;
}

nav li {
    display: none;
}

nav li a:hover, .active{
    text-decoration: underline;
    font-size: 125%;
}

a {
    text-decoration: none;
}

.response li {
    display: block;
    text-align: center; 
    padding: 5px;   
}

.response nav li {
    display: block;
}

nav li {
    font-weight: bold;
}
/*end navigation*/
h2{
    font-family: 'Kalam', cursive;
    color: black;
}
tbody{
    font-family:'Afacad', sans-serif;
}
dt {
    font-weight: bold;
}
dl {
    text-align: center;
}

dd {
    margin: 0;
}

.scoot-img{
    width: 175px;
    height: 125px;
    align-items: center;
}
.type {
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.forecast th, td {
    background-color: #02c2da;
    border: 2px solid black;
    padding: 10px;  
    opacity: 90%;
    border-radius: 5px;
}
.type li {
    list-style: none;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    margin: 25px;
}
footer img {
    width: 50px;
    height: 50px;
    padding-top: 25px;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.google-map2 {
    padding-bottom: 50%;
    position: relative;
    margin-top: 25px;
}

.google-map2 iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.prices1{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.prices2{
    text-align: center;
    color: black;
    font-size: 14pt;
}
.td-header{
    align-items: center;
    background-color: black;
    color: white;
}
td{
    text-align: center;
}