@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mate&display=swap');


.logo_link{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(20, 1fr);
    display: flex;
    justify-content: left;
    padding: 10px;
    height: 70px;
    width: 70px;
}

.logo_title_1{
    color: #4E5787;
    grid-column: 3/4;
    font-size: 1.25em;
    font-family: 'Bebas Neue', sans-serif;
    display: float;
    padding-left: 10px;
}

.logo_title_2{
    color: #4E5787;
    grid-column: 3/4;
    font-size: .5em;
    font-family: 'Mate', serif;
    display: block;
    padding-top: 42px;
    padding-left: 10px;
}

nav {
    background-color: #4E5787;
    width:100%;
    height: 75px;
    padding-top: 25px;
    display: flex;
    justify-content: center;

}

nav a {
    color: whitesmoke;
    padding: 8px 16px;
    font-family:'Mate', serif;
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: float;
    transform: translate(-50%, -50%); 
    position: relative;
    z-index: 8;
}
#hero {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
    width: 100%;
    height: 25px;
    background-color:#000000;
}

.hero-img {
    width: 100%;
    margin: 0 auto;
    padding-top: 3em;
    border: 2em;
}

.home-title{
    color: #4E5787;
    font-size: 3.5em;
    font-family: 'Bebas Neue', sans-serif;
    display: float;
    position: absolute;
    top: 24%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    text-align: center;
    padding-left: 350px;
    padding-top: 400px

}

.join{
    color:#D5606A;
    font-size: 2.5em;
    font-family: 'Bebas Neue', sans-serif;
    display: float;
    position: absolute;
    top: 37%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    text-align: right;
    padding-top: 460px;
    padding-left: 350px;
} 
#week-banner {
    border: 1px solid #D5606A;
    box-shadow: 0 0 10px #333;
    background-color: whitesmoke;
    margin: 15px;
    padding: 10px;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    max-width: 500px;
    margin-top: 95px;
    margin-left: 472px;
    margin-bottom: 0px;
}
#week-banner::before {
    content: "âŒ";
    margin: 10px;
}
li {
    list-style-type: none;
}

/*daytons-best*/
.daytons-best-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-top: 40px;
}

.best-title{
    color: #4E5787;
    font-size: 2em;
    font-family: 'Mate', serif; 
    text-align: center;
    grid-column: 3/4;
    padding-left: 15px;
}
.card-img{
    border: 2.5px solid #D5606A;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    grid-column: 3/4;
}
/*weather-card*/
.weather-card{
    display: grid;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    grid-template-columns: 2fr;
    padding: none;
}
#weather{
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}
#weatherHighlight{
    grid-column: 2/3;
}
.weather-icon{
    width: 100px;
    margin-left: 200px;
}
#weather div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#weather h2{
    padding-bottom: 200px;
}
/*events-card*/
.events-card{
    display: grid;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    grid-template-columns: 2fr;
}
/*discover page*/
.home-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 35px;
    justify-content: center;
    align-items: center;
    grid-auto-rows: repeat(5, auto);
    padding-left: 25px;
}

.grid-title{
    color: #4E5787;
    font-size: 2em;
    font-family: 'Mate', serif; 
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 5px;
    padding-left: 15px;
}
.timestamp{
    color: #D5606A;
    font-size: 2em;
    font-family: 'Mate', serif; 
    text-align: center;
    grid-column: 3/4;
    padding-bottom: 800px;
    display: flex;
}
.main-section{
    padding-top: 90px;
}
.main-title{
    color: #4E5787;
    font-size: 2em;
    font-family: 'Mate', serif; 
    text-align: center;
    grid-column: 3/3;
    grid-row: 2/3;
    padding-right: 20px;
    font-size: 4em;
    width: 600px;
    text-align: center;
    padding-left: 125px;

}
.main-img1{
    border: 2.5px solid #4E5787;
    width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img1:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
.main-img2{
    border: 2.5px solid #4E5787;
    max-width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img2:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
.main-img3{
    border: 2.5px solid #4E5787;
    max-width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 3/4;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img3:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
.main-img4{
    border: 2.5px solid #4E5787;
    width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 3/4;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img4:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
.main-img5{
    border: 2.5px solid #4E5787;
    width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 4/5;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img5:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
.main-img6{
    border: 2.5px solid #4E5787;
    width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 4/5;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img6:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
.main-img7{
    border: 2.5px solid #4E5787;
    width: 400px;
    height: 250px;
    grid-column: 2/3;
    grid-row: 5/6;
    box-shadow: 0px 3px 8px #000000;
    transition: all 300ms ease-in-out;
}
.main-img7:hover{
    box-shadow: 0px 10px 35px;
    width: 402px;
    height: 252px;
}
h2{
    color: #4E5787;
    font-size: 2em;
    font-family: 'Mate', serif; 
    text-align: center;
}
.section-1 {
    border: 2.5px solid #D5606A;
    max-width: 300px;
    max-height: 300px;
    grid-column: 1/2;
    align-items: center;
    grid-row: 3/4;
}

.section-2 {
    grid-column: 1/2;
    border: 2.5px solid #D5606A;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    grid-row: 4/5;
}

.section-3 {
    border: 2.5px solid #D5606A;
    max-width: 300px;
    max-height: 300px;
    grid-column: 1/2;
    align-items: center;
    grid-row: 5/6;
}

.weather-card{
    padding-top: 20px;
    border-top: 1.5px solid #A1A29C;
}

.weather-card p{
   font-family:'Bebas Neue', sans-serif;
   color: #1C2826;
   display: float;
   text-align: center;
   font-size: 1.5em;
}
.weather{
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 1.25em;
    text-decoration: none;
    padding-right: 30px;
}

footer .social img {
    padding-top: 15px;
    margin-top: 25px;
    border-radius: 10px 10px;
    padding-left: 10px;
    margin-left: 300px;
}
footer p{
    text-align: center;
    font-family: 'Mate', serif;
    color: #4E5787;
    font-size: 1.25em;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Form*/
.join-form{
    padding-top: 0px;
    padding-left: 100px;
}
form fieldset {
    margin: 2rem 0;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 400px;
}
form legend {
    color: #000000;
    margin: 0 1rem;
    padding:0 .5rem;
    font-size: 1.5em;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}
form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 23rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs{
    display: block;
    padding: .75rem;
    color: #555;
}
form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
.memberships{
    padding-left: 40px;
    width: 600px;
    padding-top: 190px;
}
.membership-box {
    border: 2px solid #000000;
    border-radius: 10px;
}
h3{
    font-family:'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

/*thank you*/
.thanks p{
    font-family:'Bebas Neue', sans-serif;
    color: #4E5787;
    text-align: left;
    align-items: center;
    padding-top: 75px;
    padding-left: 500px;
    width: 350px;
    font-size: 3em;
}

/*directory*/
.business {
    padding: 16px;
    box-shadow: 0 0 10px lightgray;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    gap: 10px;
    color: #23487B;
    border: 2px solid rgba(0,0,0,0.2);
}

.directory {
    color: #23487B;
    text-align: center;
    padding: .8rem;
}

main p {
    color: #23487B;
}
div.directory-button {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.grid {
    border: 2px solid #D5606A;
    background-color: white;
    padding: .35rem;
    margin: .35rem;
    box-shadow: 1px 1px 3px #555;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    grid-column: 1/2;
    grid-gap: 20px;
}

div.directory-button button:hover {
    border: 2px solid #23487B ;
}

div.directory-button button > img {
    width: 44px;
    height: 44px;
}

div.cards section .business {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    margin: .5rem 0;
    color: #23487B;
}

div.cards section h3 {
    grid-column: 1/2;
    font-size: 1.1rem;
    text-transform: uppercase;
}

div.cards section p.desc {
    grid-column: 1/2;
    font-size: .9rem;
    font-style: italic;
}

div.cards div.contact {
    grid-column: 1/2;
    font-size: .9rem;
}

div.cards div.contact a {
    display: none;
}

div.cards section picture {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #555;
}

div.cards section > a#full-link {
    display: none;
}

/* list view */
div.list section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    margin: 0;
    padding: .5rem;
    border: none;
}

div.list section:nth-child(odd) {
    background-color: rgba(247, 150, 15, 0.2);
}

div.list div.contact a {
    display: block;
}

div.list section picture {
    display: none;
}

div.list section a#full-link {
    display: block;
}

div.list p.desc {
    display: none;
}

div.list section h3 {
    text-transform: capitalize;
    font-size: .9rem;
}
/* dark mode*/

main img {
	float: center;
	margin: 0 0 1rem 1rem;
	border: 1px solid #333;
	box-shadow: 0 0 15px #777;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}
