@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Kalam&display=swap');

/*main section*/
.box-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    
}
header {
    width: 100%;
    height: 400px;
    background-color:#000000;
}

.propic {
    width: 10%;
    height: 35%;
    grid-column: 3/4;
}

.wrapper {
    background-color: #2E5A88;
    width:100%;
}
.card {
    text-align: center;
}

h1 {
    color: whitesmoke;
    grid-column: 4/5;
    font-size: 3em;
    font-family: 'Kalam', cursive;
    text-align: center;
}

 a {
    color: whitesmoke;

}

h2 {
    color: black;
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 2em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 800px;
    align-items: center;
  }
  
nav li a {
    display: block;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
    font-family:'Inclusive Sans', sans-serif;
    font-size: 1.5em;
    align-items: center;

}

.activities-list::marker{
  color: #2E5A88;
  font-size: 23px;
}


/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}
.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
    border: 1px solid whitesmoke;
  }

  .banner{
    background-color: #2E5A88;
  }

  .banner-content{
    max-width: 100%;
    padding: 15px;
  }

  .banner-text{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1.5em;
    color: whitesmoke;
  }

  .activities{
    background-color: white;
  }

  .activities-list li a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
    text-align: left;
  }
  .info-banner{
    background-color: #2E5A88;
  }

  .info-banner-content{
    max-width: 100%;
    padding: 15px;
  }

  .info-banner-text{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1.5em;
    color: whitesmoke;
  }

p{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1em;
}

footer{
    background-color: #2E5A88;
    padding: 30px;
    color: whitesmoke;
    text-align: center;
}


/* Larger views ************************************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}
#menu {
  display: none;
}