@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer{
    max-width: 640px;
    margin: 1 rem auto;
    border: 12px solid white;
    padding: 1rem;
    background-color: #caf0f8;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: white;
}

p {
    color: black;
    font-size: 1em;
    text-align: left;
}

h1 {
    color: black;
}

h2{
    color:black;
}
